<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
<a href="/" target="_blank">Add Window Client</a>
<button onclick="aded()">Add Intern Client</button>



<div id="container">

    <div class="view-chat">
        <div class="view-message"></div>
        <div class="view-actions"></div>
        <div class="view-conf">
            <label for="user">User Name</label>
            <input type="text" name="name" class ="user" tabindex="1" autofocus>
            <label for="message">Message</label>
            <input type="text" name="message" class ="message" tabindex="2">

            <button class="send">Sending</button>
        </div>
    </div>

</div>

<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="/script/chat.js"></script>
<!-- <script> io() </script> -->
    
</body>
</html>